.quote-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 21px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-bottom: 2px solid white;
}
.quote-section-container > img:first-child {
  width: 27px;
  height: 48px;
  margin-top: 60px;
  margin-bottom: 32px;
  z-index: 3;
}
.quote-section-container > p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 100px;
  font-weight: 500;
  line-height: 17px;
  z-index: 3;
}
.background-quote-img {
  position: absolute;
  z-index: -1;
}
.quote-section-container > span {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 1, 1, 0.288);
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* media */
@media (min-width: 601px) {
  .quote-section-container {
    border-bottom: 2px solid transparent;
    padding: 0 51px;
  }
  .quote-section-container > p {
    font-size: 1rem;
    line-height: inherit;
  }
}
@media (min-width: 1024px) {
  .quote-section-container {
    height: 100vh;
    justify-content: center;
  }
  .quote-section-container > p {
    font-size: 1.3rem;
  }
  .background-quote-img {
    display: none;
  }
}
@media (min-width: 1280px) {
  .quote-section-container > p {
    font-size: 36px;
  }
  .quote-section-container > img:first-child {
    width: 63px;
    height: 112px;
  }
}
